<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp">
  
  
  <Loggers>
    <Root level="debug">
     <AppenderRef ref="RollingFile"/>
     <!--  <AppenderRef ref="Console" />"G://logs/app.log"-->
        <AppenderRef ref="MAIN" />
    </Root>
  </Loggers>
  

  
  <Appenders>
  
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %p [%t] %m %n"/>
    </Console>
     <File name="MAIN" fileName="logs/main.log"> 
         <PatternLayout pattern="%d [%t] %p %c - %m%n"/>
    </File>
    

    <RollingFile name="RollingFile" fileName="G://logs/app.log"
                 filePattern="G://logs//$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
      
      
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="1 kb"/>
      </Policies>
      
    </RollingFile>
  </Appenders>
  
  

  
</Configuration>