<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Register The Product</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>


	<div class="container">
		<!--brand-->
						<div class="">
							<h1>404---Exception.class</h1>
						<p th:text="${msg}"></p>
						</div>
	</div>
				

			








</body>

</html>